<form [formGroup]="filterForm">
  <!-- <div>
    Region
    <div>
      <input formControlName="region" type="radio" value="All"> All
    </div>
    <div>
      <input formControlName="region" type="radio" value="North America"> North America
    </div>
    <div>
      <input formControlName="region" type="radio" value="Europe"> Europe
    </div>
    <div>
      <input formControlName="region" type="radio" value="Asia"> Asia
    </div>
  </div> -->
  <mat-radio-group class="example-radio-group">
    Region
    <mat-radio-button formControlName="region" value="All">All</mat-radio-button>
    <mat-radio-button formControlName="region" value="North America">North America</mat-radio-button>
    <mat-radio-button formControlName="region" value="Europe">Europe</mat-radio-button>
    <mat-radio-button formControlName="region" value="Asia">Asia</mat-radio-button>
  </mat-radio-group>
  <div>
    Date Range
    <div>
      From <input type="date" formControlName="minDate">
    </div>
    <div>
      To <input type="date" formControlName="maxDate">
    </div>
  </div>

  <div>
    Age Range
    <div>
      <!-- <input type="checkbox" formControlName="minor"> Under 18 -->
      <mat-checkbox formControlName="minor">Under 18</mat-checkbox>
    </div>
    <div>
      <!-- <input type="checkbox" formControlName="adult"> 18 - 40 -->
      <mat-checkbox formControlName="adult">18 - 40</mat-checkbox>
    </div>
    <div>
      <!-- <input type="checkbox" formControlName="middleAge"> 40 - 60 -->
      <mat-checkbox formControlName="middleAge">40 - 60</mat-checkbox>
    </div>
    <div>
      <!-- <input type="checkbox" formControlName="senior"> 60+ -->
      <mat-checkbox formControlName="senior">60+</mat-checkbox>
    </div>
  </div>
</form>

<pre>
  {{ filterForm.value | json }}
</pre>
