<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="grid">
  <app-view-breakdown></app-view-breakdown>
  <app-video-embedder [selectedVideo]="selectedVideo"></app-video-embedder>
  <app-view-filter></app-view-filter>
  <app-video-list [videos]="videos"
                  [selectedVideo]="selectedVideo"
                  (selection)="selectedVideo = $event">
  </app-video-list>
</div>

<router-outlet></router-outlet>
